---
import BaseLayout from '../layouts/BaseLayout.astro';
const { frontmatter } = Astro.props;
---
<BaseLayout pageTitle={frontmatter.title}>
  <p>Publicado em: { frontmatter.pubDate.toString().slice(0,10) }</p>
  <p><em>{frontmatter.description}</em></p>
  
  <p>Escrito por {frontmatter.author}</p>
  
  { frontmatter.image.url ? <img src={frontmatter.image.url} width="500" height="auto" alt={frontmatter.image.alt}> : '' }
  
  <slot />

  <div class="tags">
    {frontmatter.tags.map((tag) => (
      <p class="tag"><a href={`/tags/${tag}`}>{tag}</a></p>
    ))}
  </div>
</BaseLayout>

<style>
  a {
    color: #4c1d95;
    text-decoration: none;
  }
  .tags {
    display: flex;
    flex-wrap: wrap;
  }
  .tag {
    margin: .25em;
    border: dotted 1px #a1a1a1;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 1.15em;
    background-color: #F8FCFD;
  }
</style>